<template>
    <LayoutTable>
        <div class="overflow-y-auto hide_scroll" :class="{'width-90': $VBreakpoint.isTablet(), 'mx-auto': $VBreakpoint.isTablet()}">
            <!-- Back button and title product -->
            <div class="d-flex justify-space-between" :class="{'flex-row': $VBreakpoint.isTablet(),
            'flex-column': $VBreakpoint.isPhone(), 'align-center': $VBreakpoint.isTablet(),
            'mt-10': $VBreakpoint.isTablet()}">
                <back-button :class="{'d-none': $VBreakpoint.isPhone()}" />
                <h2 class="font-weight-normal text-center" :class="{'ml-3': $VBreakpoint.isTablet(),
                'width-65':$VBreakpoint.isTablet(), 'mt-2': $VBreakpoint.isPhone() }">
                    {{product.name}}
                </h2>
                <div :class="{'d-none': $VBreakpoint.isPhone()}" class="width-10"></div>
            </div>

            <!-- Carousel with images -->
            <v-carousel
                :continuous="true"
                :cycle="true"
                :show-arrows="false"
                hide-delimiter-background
                delimiter-icon="mdi-minus"
                :height="$VBreakpoint.isTablet() ? 350 : $VBreakpoint.isPhone() ? 220 : 100"
                :interval="1600"
                :class="{'mt-3': $VBreakpoint.isPhone(), 'mt-5': $VBreakpoint.isTablet()}"
            >
                <v-carousel-item
                    v-for="(item,i) in product.images"
                    :key="i"
                    :src="item"
                />
            </v-carousel>

            <!-- Price and button add Cart -->
            <div class="d-flex flex-row align-center justify-space-between" :class="{'mt-3': $VBreakpoint.isPhone(), 'mt-5': $VBreakpoint.isTablet()}">
                <h2 :class="{'font-21': $VBreakpoint.isPhone(), 'font-23': $VBreakpoint.isTablet()}">
                    {{ product.price | currency }}
                </h2>
                <v-btn class="primaryB text-capitalize">
                    Agregar
                    <v-icon right :size="16">
                        mdi-cart-plus
                    </v-icon>
                </v-btn>
            </div>

            <!-- Rating -->
            <v-rating class="mt-4"
                background-color="primary-color-rating"
                color="primary-color-rating"
                :size="$VBreakpoint.isTablet() ? 22 : $VBreakpoint.isPhone() ? 18 : 20"
                :length="5" :value="product.rating" readonly
            />
            <!-- Div with description in format HTML -->
            <div class="container_html_description mt-2 mb-2"
             :class="{'phone-v': $VBreakpoint.isPhone(),
                'tablet-v': $VBreakpoint.isTablet()}" v-html="description" />

            <!-- Relat products  -->
            <div>
                <h4>Productos relacionados</h4>
                <SlideMultiple class="my-4">
                    <CardProduct v-for="(item, key) in products" :key="key"
                         :isCarrousel="true" :isHighlight="false" :product="item" />
                </SlideMultiple>
            </div>

        </div>
    </LayoutTable>
</template>

<script>
import LayoutTable from '../components/LayoutTable.vue';
import { SlideMultiple } from 'bulgo-spa-library';
import BackButton from '../components/BackButton.vue';
import CardProduct from '../components/CardProduct.vue';
import Helper from '../helpers';
import Products from '../server/products';

export default {
    name: 'DetailProduct',
    data: () => ({
        product: Products[0],
        products:Products,
        description: `
            <p>
                Una hamburguesa es un sándwich hecho a base de carne molida o de origen vegetal, aglutinada en forma de filete cocinado a la parrilla o a la plancha, aunque también puede freírse u hornearse. Fuera del ámbito de habla hispana, es más común encontrar la denominación estadounidense burger, acortamiento de hamburger.
            </p>
            <p>
                Si ponemos queso, salsa o lechuga en medio, esta delicada estructura podría venirse abajo en el primer bocado.
            </p>
            <h4>Ingredientes</h4>
            <span>
                <p>* Pan</p>
                <p>* Beicon</p>
                <p>* Queso</p>
                <p>* Salsa</p>
                <p>* Pepinillo</p>
                <p>* Cebolla</p>
                <p>* Tomate</p>
                <p>* Lechuga</p>
                <p>* Mayonesa</p>
            </span>
        `
    }),
    components: {
        LayoutTable,
        BackButton,
        SlideMultiple,
        CardProduct
    },
    created(){
        // * Register Helper
        const helper = new Helper();
        helper.validateTimeApp('client', helper.getTimesApp().requireTime);
        // * Validate route
        this.$store.dispatch('TableApp/validateRouteActive');
    },
}
</script>

<style lang="scss">
    .container_html_description {
        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 10px;
        }

        span {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            p {
                min-width: 23%;
            }
        }

        &.phone-v {
            p {
                font-size: 14px;
            }
        }
    }
</style>