<template>
    <layout-table>
        <div class="d-flex width-100 height-100 align-center justify-center flex-column">
            <InstagramLogo class="primary--color mb-3"
                :class="{
                    'width-10': $VBreakpoint.isPhone(),
                    'width-7': $VBreakpoint.isTablet()}" />
            <h2 :class="{'font-32': $VBreakpoint.isTablet()}"
                class="font-weight-600 mb-1 pa-1">
                    Siguenos en Intagram!
            </h2>
            <div class="border_qr pa-4 mt-6">
                <VueQRCodeComponent :size="$VBreakpoint.isTablet() ? 280 : $VBreakpoint.isPhone() ? 180 : 21"
                :text="'url_qr_code'" :color="helper.getTimesApp().requireTime == 'day_app' ? '#1e272f' : '#fff'"
                bg-color="transparent" />
            </div>
        </div>
    </layout-table>
</template>

<script>
import LayoutTable from '../components/LayoutTable.vue';
import InstagramLogo from 'bulgo-spa-library/src/assets/icons/instagram_single_icon.svg?inline';
import { VueQRCodeComponent } from 'bulgo-spa-library';
import Helper from '../helpers';

export default {
    name: 'FollowUs',
    components: {
        LayoutTable,
        InstagramLogo,
        VueQRCodeComponent
    },
    data: () => ({
        helper: ''
    }),
    created(){
        // * Register Helper
        this.helper = new Helper();
        this.helper.validateTimeApp('client', this.helper.getTimesApp().requireTime);
        // * Validate route active
        this.$store.dispatch('TableApp/validateRouteActive');
    },
}
</script>

<style lang="scss" scoped>
    .border_qr {
        border: 6px solid #93692f;
    }
</style>