<template>
  <LayoutTable>
    <!-- Input search -->
    <autocomplete
      iconInner="mdi-magnify"
      :isLoading="isLoadingDataSearch"
      :itemsResult="itemsDataSearch" placeholder="¿Que quieres buscar hoy?"
      @clearItems="itemsDataSearch = []"
      @searchDataInput="searchDataInput"
      @loadingChange="isLoadingDataSearch = $event">

      <template v-slot:listItem="item">
          <v-img :src="item.thumbnails.default.url" class="width-20" />

          <v-list-item-content class="width-75 ml-2">
            <v-list-item-title v-html="item.title"></v-list-item-title>
            <v-list-item-subtitle v-html="item.channelTitle"></v-list-item-subtitle>
          </v-list-item-content>
      </template>

    </autocomplete>

    <!-- Chip gropu filters search -->
    <v-chip-group multiple>
      <v-chip v-for="tag in tags"
        :key="tag">
        {{ tag }}
      </v-chip>
    </v-chip-group>


    <!-- MAIN  -->
    <section class="max-height-85 mt-2 overflow-y-auto hide_scroll">
      <!-- Title and highlight cards -->
      <div class="d-flex flex-row width-100 mb-4 align-center">
        <v-icon
          :size="$VBreakpoint.isTablet() ? 32 : $VBreakpoint.isPhone() ? 18 : 20"
          left class="primary--color">
          mdi-star
        </v-icon>
        <h2 class="font-weight-medium" :class="{'font-18': $VBreakpoint.isPhone()}">Destacados de esta semana</h2>
      </div>

      <!-- Highlight Products -->
      <slide-multiple>
        <CardProduct v-for="(product, keyProduct) in products" :key="keyProduct"
          :product="product"
          :isCarrousel="true"
          :isHighlight="product.highlight"
          @click:card="$router.push(`/client/list-products/${Date.now()}`)"
          @click:add="testNotification"
        />
      </slide-multiple>

      <!-- Iterate all filters or sections page -->
      <section class="my-6">
        <h2 class="font-weight-medium mb-4" :class="{'font-18': $VBreakpoint.isPhone()}">Hamurgesas</h2>
        <SlideMultiple>
          <CardProduct  v-for="(product, keyProduct) in products" :key="keyProduct"
            :product="product"
            :isCarrousel="true"
            :isHighlight="false"
            @click:card="$router.push(`/client/list-products/${Date.now()}`)" />
        </SlideMultiple>
      </section>
    </section>
  </LayoutTable>
</template>

<script>
  import Products from '../server/products';
  import CardProduct from '../components/CardProduct.vue'
  import LayoutTable from '../components/LayoutTable.vue';
  import { Autocomplete, SlideMultiple } from 'bulgo-spa-library';
  import Helper from '../helpers';

  export default {
    name: 'ListProducts',
    data: () => ({
      isLoadingDataSearch:false,
      products: Products,
      tags: [
        'Work',
        'Home Improvement',
        'Vacation',
        'Food',
        'Drawers',
        'Shopping',
        'Art',
        'Tech',
        'Creative Writing',
      ],
      itemsDataSearch: [],
    }),
    components: {
      CardProduct,
      LayoutTable,
      Autocomplete,
      SlideMultiple,
    },
    created(){
      // * Register Helper
      const helper = new Helper();
      helper.validateTimeApp('client', helper.getTimesApp().requireTime);
      // * Validate route
      this.$store.dispatch('TableApp/validateRouteActive');

    },
    mounted(){
    },
    methods: {
      async searchDataInput(val) {
        try {
          const resp = await this.$axios.getYoutube(val);
          this.itemsDataSearch = resp;
        } catch (error) {
          console.log(error);
        } finally {
          this.isLoadingDataSearch = false;
          this.$EventBus.$emit(this.$EventBusEvents.openMenuSearchResults, true);
          console.log('response youtube', this.itemsDataSearch);
        }
      },
      testNotification() {
        console.log('emit notification');
        this.$EventBus.$emit('showNotification', {
          title: 'Probando notificaciones!!',
          text: `Esta prueba seria en el Date object el ${Date.now()}`,
          duration: 3500
        })
      },
    },
  }
</script>

<style lang="scss">

</style>