<template>
    <layout-table>
        <!-- Input search -->
        <autocomplete
            iconInner="mdi-music-note-eighth"
            :isLoading="isLoadingDataSearch"
            :itemsResult="itemsDataSearch" placeholder="¿Que quieres escuchar?"
            @clearItems="itemsDataSearch = []"
            @searchDataInput="searchDataInput"
            @loadingChange="isLoadingDataSearch = $event"
            @click:item="tryAddSongToPlaylist">

            <template v-slot:listItem="item">
                <v-img :src="item.thumbnails.default.url" class="width-20" />

                <v-list-item-content class="width-75 ml-2">
                    <v-list-item-title v-html="item.title"></v-list-item-title>
                    <v-list-item-subtitle v-html="item.channelTitle"></v-list-item-subtitle>
                </v-list-item-content>
            </template>

        </autocomplete>

        <!-- List highlight songs -->
        <div class="height-76 overflow-y-auto hide_scroll mt-6 mb-4" :class="{'px-4': $VBreakpoint.isTablet()}">

            <h2 class="font-weight-600 d-flex align-center" :class="{'font-19': $VBreakpoint.isPhone()}">
                <MusicSong class="primary--color mr-4" :class="{'width-4': $VBreakpoint.isTablet(),
                    'width-7': $VBreakpoint.isPhone()}" />

                Canciones mas sonadas
            </h2>

            <v-list style="background: transparent;">

                <v-list-item class="px-4 py-2 card_song my-4"
                    :class="{'width-90': $VBreakpoint.isTablet(),
                        'width-100': $VBreakpoint.isPhone()}"
                    v-for="(song, key) in sortSongs" :key="key">

                    <div class="d-flex align-center width-90">
                        <img :src="song.thumbnails.default.url"
                             class="mr-3" alt="" :class="{'width-14': $VBreakpoint.isTablet(),
                             'width-20': $VBreakpoint.isPhone()}">
                        <h3 class="text-uppercase width-80" :class="{'font-21': $VBreakpoint.isTablet(),
                            'font-14': $VBreakpoint.isPhone()}">
                                {{ song.title }}
                        </h3>
                    </div>
                    <v-btn icon class="width-10 ml-2">
                        <RetrySong :class="{'width-36': $VBreakpoint.isTablet(),
                            'width-58': $VBreakpoint.isPhone()}" />
                    </v-btn>
                </v-list-item>

            </v-list>
        </div>

        <!-- Video Player -->
        <div class="card_song d-flex highlight px-4 py-2"
            :class="{'width-85': $VBreakpoint.isTablet(), 'mx-auto': $VBreakpoint.isTablet()}"
            v-if="true">

            <div class="width-70 d-flex flex-row">
                <img :src="songs[0].thumbnails.default.url" class="mr-4"
                    :class="{'width-15': $VBreakpoint.isTablet(),
                        'width-25': $VBreakpoint.isPhone()}" :alt="songs[0].title">

                <h3 v-if="$VBreakpoint.isPhone()" class="font-17">
                    {{songs[0].title.length >= 24 ?
                        `${songs[0].title.slice(0,24)}...` :
                        songs[0].title }}
                </h3>

                <h3 v-if="$VBreakpoint.isTablet()">
                    {{songs[0].title}}
                </h3>
            </div>
            <v-btn icon @click="openPlayList">
                <v-icon :size="$VBreakpoint.isTablet() ? 42 : $VBreakpoint.isPhone() ? 32 : 20">
                    mdi-menu-up
                </v-icon>
            </v-btn>
        </div>

        <!-- Overlay with song selected -->
        <v-overlay :value="songSelected.show" opacity=".8" z-index="9">
            <!-- Show song selected -->
            <div v-if="songSelected.idVideo"
                class="d-flex justify-center flex-column height-100 width-95">
                <img class="mx-auto" :class="{'width-60': $VBreakpoint.isPhone(), 'width-50': $VBreakpoint.isTablet()}"
                    :src="songSelected.thumbnails.high.url" :alt="songSelected.title">

                <h2 class="text-center mt-4" :class="{'font-30': $VBreakpoint.isTablet()}">
                    {{ songSelected.title }}
                </h2>
                <p class="text-center mt-4" :class="{'font-18': $VBreakpoint.isTablet(),
                    'font-15': $VBreakpoint.isPhone()}">
                    {{ songSelected.description }}
                </p>

                <div class="d-flex justify-space-between align-center width-90 mx-auto mt-4">
                    <v-btn class="width-45 whiteB" @click="closeOverlay">
                        Cerrar
                    </v-btn>
                    <v-btn class="width-45 primaryB" @click="addInList(songSelected)">
                        Agregar
                    </v-btn>
                </div>
            </div>
        </v-overlay>

    </layout-table>
</template>

<script>
import LayoutTable from '../components/LayoutTable.vue';
import { Autocomplete } from 'bulgo-spa-library';
import MusicSong from 'bulgo-spa-library/src/assets/icons/music_icon.svg?inline';
import RetrySong from 'bulgo-spa-library/src/assets/icons/reload.svg?inline';
import Helper from '../helpers';
import Songs from '../server/songs';

export default {
    name: 'RequestSong',
    data: () => ({
        isLoadingDataSearch: false,
        itemsDataSearch: [],
        songs: Songs,
        songSelected: {
            show: false
        }
    }),
    components: {
        LayoutTable,
        Autocomplete,
        MusicSong,
        RetrySong
    },
    created(){
      // * Register Helper
      const helper = new Helper();
      helper.validateTimeApp('client', helper.getTimesApp().requireTime);
      // * Validate route
      this.$store.dispatch('TableApp/validateRouteActive');

      console.log(this.songs);
    },
    computed: {
        sortSongs(){
            return this.songs.slice().sort((a,b) => b.highlight - a.highlight);
        }
    },
    methods: {
        async searchDataInput(val) {
            try {
                const resp = await this.$axios.getYoutube(val);
                this.itemsDataSearch = resp;
            } catch (error) {
                console.log(error);
            } finally {
                this.isLoadingDataSearch = false;
                this.$EventBus.$emit(this.$EventBusEvents.openMenuSearchResults, true);
                console.log('response youtube', this.itemsDataSearch);
            }
        },
        addInList(song){
            const exist = this.songs.find(x => x.idVideo == song.idVideo);

            if(!exist) {
                this.songs.push({ ...song, highlight: false });
                console.log('click in song', song);
                this.closeOverlay();
            } else {
                this.$EventBus.$emit('showNotification', {
                    title: 'Canción dupicada',
                    text: 'Esta canción ya fue agregada a la playlist, si quieres la puedes agregar en 10:00 min',
                    duration: 3000,
                    type: 'info'
                })
                this.closeOverlay();
            }
        },
        tryAddSongToPlaylist(song) {
            this.songSelected = {
                ...song,
                show: true
            };
        },
        closeOverlay(){
            this.songSelected = {
                show: false
            }
        },
        openPlayList() {

        }
    }
}
</script>

<style lang="scss">
    /* IS phone */
    @media (max-width: 420px) {
        .search_input_table {
            font-size: 16px !important;
        }
    }

    /* Is tablet */
    @media (min-width: 421px) and (max-width: 1098px) {
        .search_input_table {
            font-size: 21px !important;
        }
    }

</style>