<template>
    <layout-table>
        <div class="height-100 width-100">
            <!-- Section with request text  -->
            <section v-if="response.requestActive" class="height-100 width-100 d-flex justify-center align-center flex-column">
                <BellIcon class="primary--color width-10"
                    :class="{'mb-2': $VBreakpoint.isPhone(),
                        'mb-5': $VBreakpoint.isTablet()}" />
                <h2 :class="{'font-32': $VBreakpoint.isTablet()}"
                    class="font-weight-600 text-center">
                    Solicitando atención
                </h2>
                <v-progress-circular
                    :class="{'mt-4': $VBreakpoint.isPhone(), 'mt-7': $VBreakpoint.isTablet()}"
                    :size="$VBreakpoint.isPhone() ? 40 : $VBreakpoint.isTablet() ? 70 : 30"
                    :width="4"
                    color="primary--color"
                    indeterminate
                />
            </section>

            <!-- Section with response text, success or error -->
            <section v-else class="height-100 width-100 d-flex justify-center align-center flex-column">
                <SuccessIcon class="primary--color" :class="{'mb-3': $VBreakpoint.isPhone(),
                        'mb-5': $VBreakpoint.isTablet(),
                        'width-8': $VBreakpoint.isTablet(),
                        'width-10': $VBreakpoint.isPhone()}" />
                <h2 :class="{'font-32': $VBreakpoint.isTablet(),
                    'pb-5': $VBreakpoint.isTablet(), 'pb-3': $VBreakpoint.isPhone(),
                    'font-21': $VBreakpoint.isPhone()}"
                    class="font-weight-600 text-center">
                        {{ response.text }}
                </h2>
            </section>
        </div>
    </layout-table>
</template>

<script>
import BellIcon from 'bulgo-spa-library/src/assets/icons/bell_icon.svg?inline'
import SuccessIcon from 'bulgo-spa-library/src/assets/icons/success_icon.svg?inline'
import LayoutTable from '../components/LayoutTable.vue';
import Helper from '../helpers/index';

export default {
    name: 'RequestAttention',
    components: {
        LayoutTable,
        BellIcon,
        SuccessIcon
    },
    data: () => ({
        response: {
            show: false,
            text: '',
            requestActive: true,
        },
        timeout: ''
    }),
    created(){
        // * Register Helper
        const helper = new Helper();
        helper.validateTimeApp('client', helper.getTimesApp().requireTime);
        // * Validate route active
        this.$store.dispatch('TableApp/validateRouteActive');

        this.requestAttention();
    },
    destroyed(){
        clearTimeout(this.timeout);
        console.log('clear timeout request atenttion', this.timeout);
    },
    methods: {
        requestAttention() {
            // * Simulate response
            this.timeout = setTimeout(() => {
                this.response = {
                    show: true,
                    text: '¡Muy pronto se estara hacercando un mesero para ayudarte!',
                    requestActive: false
                };
                // * After response, show notification and redirect go back;
                this.$EventBus.$emit('showNotification', {
                    title: 'Pronto te atendemos!',
                    text: '¡Muy pronto se estara hacercando un mesero para ayudarte!',
                    duration: 2400
                });
                setTimeout(() => this.$router.go(-1), 2000)
            }, 4000)
        }
    }
}
</script>

<style lang="scss" scoped>
    h2 {
        border-bottom: 2px solid var(--primary-svg-color);
        padding-bottom: 7px;
    }
</style>