<template>
    <v-btn fab :style="`${$VBreakpoint.isTablet() ?
        'height:48px !important; width: 48px !important;'
        : $VBreakpoint.isPhone() ?
        'height:40px !important; width: 40px !important;' : ''}`"
            @click="$router.go(-1)">
        <v-icon :size="$VBreakpoint.isTablet() ? 30 :
            $VBreakpoint.isPhone() ? 24 : 20">
                mdi-arrow-left
        </v-icon>
    </v-btn>
</template>

<script>
export default {
    name: 'BackButton'
}
</script>