<template>
    <v-card class="card-product-bg height-100" :class="{ 'mx-2': isCarrousel,
        'card-highlight-product': isHighlight}" elevation="0"
        :max-width="$VBreakpoint.isTablet() ? 330 : $VBreakpoint.isPhone() ? 250 : 200"
        @click="$emit('click:card', { product })">
        <!-- Img cover page -->
        <img
            :src="product.coverPage" :width="$VBreakpoint.isTablet() ? 330 : $VBreakpoint.isPhone() ? 250 : 200"
            :height="$VBreakpoint.isTablet() ? 200 : $VBreakpoint.isPhone() ? 150 : 100" style="object-fit:cover;"/>

        <!-- Content Section -->
        <section class="pa-4">
            <h1 class="font-weight-medium mt-2 mb-1"
            :class="{'font-22': $VBreakpoint.isTablet(), 'font-17': $VBreakpoint.isPhone()}">
                {{product.name}}
            </h1>
            <v-rating
                :size="$VBreakpoint.isTablet() ? 22 : $VBreakpoint.isPhone() ? 18 : 20"
                background-color="primary-color-rating"
                color="primary-color-rating"
                :length="5" :value="product.rating" readonly
            />
            <p class="mt-2 mb-1">
                {{product.description}}
            </p>
        </section>
        <hr >
        <!-- Footer action card -->
        <section class="pa-4 d-flex flex-row justify-space-between align-center">
            <h1>${{product.price | currency}}</h1>
            <v-btn icon @click.stop="$emit('click:add', { product })">
                <v-icon :size="$VBreakpoint.isTablet() ? 32 : $VBreakpoint.isPhone() ? 28 : 20"
                class="primary-add-cart--color">mdi-cart-plus</v-icon>
            </v-btn>
        </section>
    </v-card>
</template>

<script>
export default {
    name: 'CardProduct',
    props: [
       'product',
       'isCarrousel',
       'isHighlight'
    ],
    methods: {
    }
}
</script>