<template>
    <footer class="d-flex width-100 flex-row justify-space-between align-center pa-5">
        <v-btn fab v-for="(item,key) in getButtonsBottomNavigation" :key="key"
            :class="{'is-phone': $VBreakpoint.isPhone(),
            'is-tablet': $VBreakpoint.isTablet(), 'active-btn': item.active}"
            @click="clickNavigation(item)">
                <component :is="item.icon"/>
        </v-btn>
    </footer>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Footer',
    components: {
    },
    computed: {
        ...mapGetters([
            'getButtonsBottomNavigation'
        ])
    },
    data: () => ({
    }),
    created(){
    },
    methods: {
        clickNavigation(item) {
            // * First validate if route that link is diffrent now route
            if(!new RegExp(item.meta, 'g').test(window.location.pathname)) {
                // * Add active meta data
                this.$store.dispatch('TableApp/activeButton', item);
                this.$router.push(item.meta);
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    footer {
        position: fixed;
        bottom: 0;
    }
</style>