<template>
    <header :class="{'py-7': $VBreakpoint.isTablet(), 'py-5':$VBreakpoint.isPhone() }"
        class="d-flex width-100 justify-space-between align-center flex-row px-5">
        <component
            :class="{'width-60': $VBreakpoint.isPhone(),
            'width-45': $VBreakpoint.isTablet()}"
            :is="BulgoLogoComponent"
         />
         <v-badge
            :content="1"
            :value="1"
            color="badge"
        >
            <v-btn fab
                :class="{'is-phone': $VBreakpoint.isPhone(), 'mb-3':$VBreakpoint.isTablet(),
                'is-tablet': $VBreakpoint.isTablet(), 'mb-2':$VBreakpoint.isPhone()}">
                <CartLogo />
            </v-btn>
        </v-badge>

    </header>
</template>

<script>
import CartLogo from 'bulgo-spa-library/src/assets/icons/order_icon.svg?inline';
import Helper from '../helpers';
import { BulgoLogo } from 'bulgo-spa-library';

export default {
    name: 'Header',
    data: () => ({
        BulgoLogoComponent: ''
    }),
    components: {
      CartLogo
    },
    created(){
        // * Register Helper
        const helper = new Helper();
        this.BulgoLogoComponent = BulgoLogo(localStorage.getItem('@logo')) || helper.BulgoLogo

        this.$EventBus.$on(this.$EventBusEvents.changeIconBulgo, (BulgoLogo) => {
            this.BulgoLogoComponent = BulgoLogo;
        })
    }
}
</script>

<style lang="scss" scoped>

</style>
