<template>
  <v-main>
    <Header />
    <div class="height-75 pa-5 d-flex flex-column pt-0">
      <!-- Link device button -->
      <LinkDevice url_qr_code="table_5" />
      <slot />
    </div>
    <Footer />
  </v-main>
</template>

<script>
  import Header from './Header.vue'
  import Footer from './Footer.vue'
  import { LinkDevice } from 'bulgo-spa-library';

  export default {
    name: 'LayoutTable',

    components: {
      Header,
      Footer,
      LinkDevice
    },
    mounted(){
    },
    data: () => ({

    })
  }
</script>

<style lang="scss">
  .search_input_table {
    .v-input {
      font-size: 19px;
      line-height: 19px;
    }
    .v-text-field__details {
      display: none !important;
    }
  }
</style>